<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<div class="container">
<div class="row">
    <div class="col">
        <hr>
        <h4>아이들</h4>
        <!-- Styles from https://getbootstrap.com/docs/4.3/components/forms/#form-controls -->
        <form method="post" action="icheck/kids/">
            <div class="form-group">
              <label for="exampleInputEmail1">이름</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">반</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="clas"></textarea>
            </div>
            <div class="form-group"><!--업로드 div가... 필요...-->
              <label for="inputUpload">Photo</label>
              <input type="file" name="upload"  id="inputUpload" aria-describedby="inputUpload">
              <small id="uploadHelp" class="form-text text-muted">아이 사진을 업로드 해주세요. </small>
            </div> 
            
            <button type="submit" class="btn btn-primary">추가하기</button>
        </form>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col">
        <br>
        <br>
        <!-- Styles from https://getbootstrap.com/docs/4.3/components/list-group/#flush-->
        <% if (kids.length>0) { %>
          <ul class="list-group list-group-flush">

            <% for(var i=0; i < kids.length; i++) { %>
              <li class="list-group-item">
                <strong><%= kids[i].name %> </strong>
                <%= kids[i].clas %>
                <%= kids[i].upload %>
              </li>
            <% } %>
          </ul>
        <% } else { %>
          <p>아이가 아직 없어요.</p>
        <% } %>
    </div>
</div>    
</div>
<%- include('includes/footer'); -%>
